.end{
  display:none;
}

body{
  background-color:#7F7F7F;
}

header{
  background-color:#669999;
  border-bottom:5px solid black;
  height: 150px;
}

hgroup{
  width:960px;
  margin:0 auto;
  padding:20px;
}

header hgroup h1{
  font:60px 'Fjalla One', helvetica;
  text-align:center;
}

header hgroup p{
  font:30px 'Fjalla One', helvetica;
  text-align:center;
}

main{
  width:960px;
  margin:0 auto;
}

div{
  float:left;
  background-color:#669999;;
  border:2px solid #D6FFFF;
  border-radius: 3px;
  height:375px;
  width:300px;
  margin:30px 7px;
}

img{
  width:300px;
  height:300px;
}

h2{
  width:300px;
  font: 25px 'Josefin Sans', helvetica;
  text-align:center;
}

ul{
  text-align:center;
  width:960px;
}

li{
  font: 20px 'Josefin Sans', helvetica;
  padding:5px 0;
}

section{
  background-color:#FFFBE6;
  margin-top:20px;
  border-top:2px solid black;
}
