.clear{
  clear:both;
}

header{
  display:inline-block;
  width:960px;
  margin:0 auto;
  border-bottom: 10px black;
}

main{
  width:960px;
  margin:0 auto;
}

div{
  float:left;
  height:400px;
  width:300px;
}

img{
  width:300px;
  height:300px;
}

h2{
  display:inline-block;
  width:300px;
  font: 25px helvetica;
  text-align:center;

}
